{% extends "base.html" %}
{% block content %}
<div class="text-center mb-4">
    <p class="blockquote text-center" style="display: inline;"><a href="/" class="button {{ theme }}">⬅️ 
            Back</a>
    </p>
</div>
<div class="container-fluid mt-5">

    <div class="row d-flex align-items-baseline text-center">
        <div class="col-12">
            <figure class="figure">
                <img class="img-responsive" src="{{ url_for('static', filename='img/'+ count_plot_incipit ) }}"
                    alt="Wordcloud from incipits">
                <figcaption class="figure-caption text-center p-2">Wordcloud from incipits</figcaption>

            </figure>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-baseline">
            <div class="col-lg-6">
                <figure class="figure">
                    <img class="img-responsive " src="{{ url_for('static', filename='img/'+ count_plot) }}"
                        alt="Keywords in titles">
                    <figcaption class="figure-caption text-center p-2">Keywords in titles</figcaption>
                </figure>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/'+ pie_chart) }}"
                        alt="Most active sources">
                    <figcaption class="figure-caption text-center p-2">Source contribution</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>


{% endblock %}